ul{
    margin: 0 !important;
    padding: 0;
}
*{
    
    padding: 0;
    font-family: 'popins', sans-serif;
}

body{
    background: white;
}
nav{
    background: #1b1b1b;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color:#f2f2f2;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav ul{
float: right;
list-style: none;
margin-right: 40px;
position: relative;
}

nav ul li{
    float: left;
display: inline-block;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover{
    color: #b030b0;
    border-radius: 5px;
    box-shadow: 0 0 5px #602080,
                0 0 5px #d01bf5;
}

nav ul ul li a:hover{
    color: #b030b0;
    box-shadow: none;
}

nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid #b030b0;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul{
    border-top: none;
}

nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0,.3);

}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

@font-face {
    font-family: dock11;
    src:url(heavy_dock11.otf);
  }

  h2{
      color: black;
      font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    font-family: 'Roboto Mono', monospace;
  }

  p{
    font-family: 'Roboto Mono', monospace;
  }
